
.main{
    display: flex;
    justify-content: space-between;
}

.col-1{
    flex: 1;
}

.col-2{
    flex: 3;
}
.avatar{
    width: 150px;
    height: 400px;
    text-align: center;
    border: 2px double silver;
    background: linear-gradient(45deg, lightblue, azure, whitesmoke);
    margin: 20px;
    padding-top: 60px;
    
}
.card {
    width: 800px;
    height: 350px;
    border: 2px solid silver;
    background: linear-gradient(-45deg, lightblue, azure, whitesmoke);
    margin: 20px;
}

h1{
    display: inline-block;
    margin: 50px 50px;
}

p{
    display: inline-block;
    padding: 20px;
}

button{
    background-color: goldenrod;
    box-shadow: 3px 3px black;
    margin-left: 20px;
    padding: 5px 15px;
}

#hidden {
    padding: 10px 60px;
    border: transparent;
    box-shadow: 5px 5px beige;
    background-color: transparent;
    color: beige;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 15px;
}


